/* Box Model Hack */
* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.logo {
	height: 40px;
}

.converter {
	background-color: black;
	color: white;
	border-radius: 20px;
	padding: 6px 20px;
}


/******************************************
/* LAYOUT
/*******************************************/
html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 20px 35px;
	height: 20px;
}

.miniapp {
	display: flex;
	padding: 0px 100px;
	gap: 20px;
	height: 55%;
}

.instructions {
	margin: auto;
	width: 70%;
}

.left {
	width: 65%;
}

.right {
	width: 35%;
	background-color: black;
	border-radius: 10px;
	overflow: scroll;
}


.center {
	text-align: center;
}

footer {
	text-align: center;
	padding: 20px 35px;
}

.action {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.results {
	color: white;
	padding: 25px 35px;
	text-align: justify;
}


/******************************************
/* MEDIA QUERIES
/*******************************************/

@media screen and (max-width: 1247px) {
	.miniapp {
		display: flex;
		padding: 0px 70px;
		gap: 20px;
		height: 55%;
	}
}

@media screen and (max-width: 1087px) {
	.miniapp {
		display: flex;
		padding: 0px 30px;
		gap: 10px;
		height: 55%;
	}
}

@media screen and (max-width: 660px) {
	.miniapp {
		display: block;
		padding: 80px 40px 20px 40px;
		width: 100%;
		
	}

	html {
		height: auto;
	}

	.left, 
	.right {
		width: 100%;
	}

	.right {
		
		width: 80%;
		margin: 55px auto;
	}
}


