<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Your description goes here" />
		<meta name="keywords" content="one, two, three" />

		<title>Reversed Strings</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<section class="instructions">
			<h2>
				<a
					href="https://www.codewars.com/kata/5168bb5dfe9a00b126000018/train/javascript"
					>DNA to RNA conversion</a
				>
			</h2>
			<h3>Instructions</h3>
			<p>
				Complete the solution so that it reverses the string passed into it.
			</p>
			<p>'world' => 'dlrow' 'word' => 'drow'</p>
			<input type="text" id="input" />
			<button class="convert">Convert</button>
			<p class="solution"></p>
		</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
