<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Your description goes here" />
		<meta name="keywords" content="one, two, three" />

		<title>Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="../css/normalize.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>

	<body>
		<header>
			<img src="" alt="Mini Apps logo">
			<a href="../pages/about.html">About</a>
		</header>
		<section class="miniapp">
			<section class="left">
				<section class="instructions">
					<h1>App Name</h1>
					<h2>Instructions</h2>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum recusandae optio ipsam ea inventore, voluptas doloribus, voluptatum modi ipsa itaque quia laborum at, temporibus incidunt.</p>
				</section>
				<section class="action center">
					<input type="text" id="input" placeholder="Yeah, you!">
					<button>Convert</button>
				</section>	
			</section>
			
			<section class="right">
				<section class="results">
					<h2>Results</h2>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur sit, pariatur aperiam earum laboriosam dolores corporis distinctio enim dicta, quia minima necessitatibus adipisci. Labore eius vero voluptates quis ab pariatur asperiores, id atque quod! Fugiat.
					</p>
				</section>
			</section>
		</section>
		<footer>FOOTER</footer>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
